/*Style Treeview*/
/****************************/
/****************************/
/****************************/
/****************************/

.hummingbird-treeview,
.hummingbird-treeview * {
    list-style: none;
    font-size: 20px;
    line-height: 24px;
}

    .hummingbird-treeview label {
        font-weight: normal;
    }


    .hummingbird-treeview input[type=checkbox] {
        width: 16px;
        height: 16px;
        padding: 0px;
        margin: 0px;
    }

    .hummingbird-treeview ul:not(.hummingbird-base) {
        display: none;
    }

    .hummingbird-treeview .fa {
        font-style: normal;
        cursor: pointer;
    }



/*Termina style treeview*/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

